*{
    padding: 0px;
    margin: 0px;
}
#head{
    background-image: linear-gradient(#99B898 , #FECEAB, #FF847C);
    height: 150px;

}
#imghead{
    width: 8%;
    height: 100px;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 15px;
  
    
}
.tithead{
    float: right;
    width: 90%;
    text-shadow: 0 0 50px black;
    font-family: 'fantasy';
    text-align: center;
    margin-top: 10px;
    
}
.tith1{
font-size: 40px;
background: linear-gradient(#f85032, #e73827);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-transform: uppercase;
}
.tith2{
font-size: 35px;
background: linear-gradient(#f85032, #e73827);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}



#nav{
    background: linear-gradient(#f5d29c , #75ab82);
    height: 40px;
    margin: 0px;

}

.element{
    display: inline-block;
    margin-left: 6%;
    margin-right: 6%; 
    height: 35 px;
    width: 12%;
    align-items: center;
    padding-top: 5px;
    
}
.element:hover{
    background: linear-gradient(#e95a61 ,#fafdff);
    margin-top: 0px;
    
}

.links{
    color: black;
    display: block;
    font-family: 'fantasy';
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    height: 38px;
    text-decoration: none;
    
}
